* {
    box-sizing: border-box;
    outline: none;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    color: white;
    background: dimgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}